<!DOCTYPE html>
<html>
	<head>
		<title>403 - <%= title %></title>
		
		<link rel="stylesheet" href="/res/error.css" />
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
		
		<meta charset="UTF-8" />
		<meta property="og:title" content="403" />
		<meta property="og:description" content="<%= title %>" />
		<meta property="og:url" content="<%= url %>/403.html" />
		<meta property="og:image" content="<%= url %>/res/128x/avatar.png" />
		<meta property="og:type" content="website" />
	</head>
	<body>
		<h1>403</h1>
		<h2><%= title %></h2>
		<a href="/"><%= goBackText %></a>
	</body>
</html>
