<!DOCTYPE html>
<html>
	<head>
		<title><%= owner.firstname %> <%= owner.lastname %></title>
		
		<link rel="stylesheet" href="/res/main.css" />
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
		<script src="/res/main.js"></script>
		
		<meta charset="UTF-8" />
		<meta property="og:title" content="<%= owner.firstname %> <%= owner.lastname %>" />
		<meta property="og:url" content="<%= owner.url %>" />
		<meta property="og:image" content="<%= owner.url %>/res/128x/avatar.png" />
		<meta property="og:type" content="profile" />
		<meta property="og:profile:first_name" content="<%= owner.firstname %>" />
		<meta property="og:profile:last_name" content="<%= owner.lastname %>" />
		<meta property="og:profile:username" content="<%= owner.username %>" />
		<meta property="og:profile:gender" content="<%= owner.gender %>" />
	</head>
	<body>
		<div id="bg">
			<img src="/res/1920x/bg.jpg" />
		</div>
		<%- include('mainCard.ejs', mainCard) %>
		<%- include('contentBox.ejs', content) %>
		<%- include('credits.ejs') %>
	</body>
</html>
